
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e806'; } /* '' */
.icon-folder-open-empty:before { content: '\e805'; } /* '' */
.icon-arrows-cw-1:before { content: '\e807'; } /* '' */
.icon-key-outline:before { content: '\e800'; } /* '' */