<html>

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <title id='title'>Git - Key Config</title>

  <!-- css -->
  <link rel='stylesheet' href='{{ url_for('static', filename="css/reset.css") }}'>
  <link rel='stylesheet' href='{{ url_for('static', filename="css/custom-theme/jquery-ui-1.8.16.custom.css") }}'>
  <link rel='stylesheet' href='{{ url_for('static', filename="css/style.css") }}'>

  <!-- js -->
  <script type='text/javascript' src='{{ url_for('static', filename="js/jquery-1.7.2.min.js") }}'></script>
  <script type='text/javascript' src='{{ url_for('static', filename="js/jquery-ui-1.8.16.custom.min.js") }}'></script>
  <script type='text/javascript' src='{{ url_for('static', filename="js/jquery.loading.1.6.4.min.js") }}'></script>
  <script type='text/javascript' src='{{ url_for('static', filename="js/code.js") }}'></script>
</head>

<body>
  <div id='loading'></div>

  <div class='content'>
  <div class='centered-within'>
    <p>~ <span>{{ remote_user }}</span> ~</p>
  </div>

  <div class='centered'>

    <div id='oneline-error'>
      <img src='{{ url_for('static', filename="images/sweetieplus/with-shadows/warning-16.png") }}'></img>
      <span></span>
    </div>

    {% if enable_identities %}
    <div id='git-identity'>
      <p> Type in your identity: </p>
      <p> <input type='text' title='John Doe <john.doe@email>' value='{{ git_identity }}'</input> </p>
      <button class='btn'> Update </button>
    </div>
    {% endif %}

    <div class='pubkey'>
      <p> Type in your public key: </p>
      <p> <textarea> </textarea> </p>
      <button class='btn' id='add-key'> Add </button>
      <button class='btn' id='load-key'> Load </button>
      <form action='add' method='post'> </form>
      <input type='file' id='load-key-file'></input>
    </div>

    {% for user, machine, key in sshkeys %}
    <div class='drop-key' data-machine='{{ machine }}'>
      {% if loop.first %}
      <p> Your current public keys: </p>
      {% endif %}
      <p> <textarea  readonly='true'>{{ key }}</textarea> </p>
      <button class='btn'> Drop </button>
    </div>
    {% endfor %}

    <div>
      <span> Help </span>
      <div id='faq'>
        <h3><a href='#'>How do I generate a ssh keypair?</a></h3>
        <div>
            <!-- cat << EOF | pygmentize -l console -f html -O noclasses=true -O style=murphy
                 $ ssh-keygent -t rsa -C "john.doe@email"
                 Generating public/private rsa key pair.
                 Enter file in which to save the key (/home/john/.ssh/id_rsa):
                 Enter passphrase (empty for no passphrase):
                 EOF -->
            <span>Run the following command in a terminal and answer the questions you are given:</span>
            <pre style="line-height: 125%"><span style="color: #c65d09; font-weight: bold">$</span> ssh-keygent -t rsa -C <span style="background-color: #e0e0ff">&quot;john.doe@email&quot;</span>
<span style="color: #808080">Generating public/private rsa key pair.</span>
<span style="color: #808080">Enter file in which to save the key (/home/john/.ssh/id_rsa):</span>
<span style="color: #808080">Enter passphrase (empty for no passphrase):</span>
            </pre>
            <span> Please refer to the following setup guides for more information:</span>
            <ul>
                <li> <a href="https://help.github.com/articles/generating-ssh-keys#platform-all">github</a> </li>
                <li> <a href="http://git-scm.com/book/en/Git-on-the-Server-Generating-Your-SSH-Public-Key">gitscm</a> </li>
            </ul>
        </div>

        <h3><a href='#'>How do I find my ssh public key?</a></h3>
        <div>
          <p> Your ssh public key is usually located in <tt>~/.ssh/id_rsa.pub</tt> or
            <tt>C:\Documents and Settings\John\.ssh\id_rsa.pub</tt>.
          </p>
          <p> It is entirely possible to have different key pairs for different
            hosts, in which case you should refer to the <tt>Host</tt> and <tt>IdentityFile</tt> options in <a href="http://www.openbsd.org/cgi-bin/man.cgi?query=ssh_config">ssh_config</a>.
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>
</body>

</html>
