<html>

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <title id='title'>Git - Key Config</title>

  <link rel='stylesheet' href='{{ url_for("static", filename="css/cssreset.min.css") }}'>
  <link rel='stylesheet' href='{{ url_for("static", filename="css/jquery-ui.min.css") }}'>
  <link rel='stylesheet' href='{{ url_for("static", filename="fonts/css/fontello.css") }}'>
  <link rel='stylesheet' href='{{ url_for("static", filename="css/style.css") }}'>
</head>

<body>
  <div id='loading'></div>

  <div class='content'>
  <div class='centered-within'>
    <p>~ <span>{{ remote_user }}</span> ~</p>
  </div>

  <div class='centered'>
    <div id='oneline-error'>
      <span class='icon-attention'></span>
    </div>

    {% if enable_identities %}
    <div id='git-identity'>
      <p> Type in your identity: </p>
      <p> <input type='text' title='John Doe <john.doe@email>' value='{{ git_identity }}'</input> </p>
      <button class='btn'> Update </button>
    </div>
    {% endif %}

    <div class='pubkey'>
      <p> Type in your ssh public key: </p>
      <p> <textarea> </textarea> </p>
      <button class='btn' id='add-key'> <span class='icon-plus'></span>Add</button>
      <button class='btn' id='load-key'><span class='icon-folder-open-empty'></span> Load </button>
      <form action='add' method='post'> </form>
      <input type='file' id='load-key-file'></input>
    </div>

    {% for key in sshkeys %}
    <div class='drop-key' data-machine='{{ key[1] }}'>
      {% if loop.first %}
      <p> Your current ssh public keys: </p>
      {% endif %}
      <p> <textarea readonly='true'>{{ key[2] }}</textarea> </p>
      <button class='btn'><span class='icon-cancel'></span>Drop</button>
    </div>
    {% endfor %}

    <div>
      <span>Help</span>
      <div id='faq'>
        <h3><a href='#'>How do I generate an ssh keypair?</a></h3>
        <div>
            <!-- cat << EOF | pygmentize -l console -f html -O noclasses=true -O style=murphy
                 $ ssh-keygent -t rsa -C "john.doe@email"
                 Generating public/private rsa key pair.
                 Enter file in which to save the key (/home/john/.ssh/id_rsa):
                 Enter passphrase (empty for no passphrase):
                 EOF -->
            <p>Run the following command in a terminal and follow the instructions:</p>
            <pre>
<span style="color: #c65d09; font-weight: bold">$</span> ssh-keygent -t rsa -C <span style="background-color: #e0e0ff">&quot;john.doe@email&quot;</span>
<span style="color: #808080">Generating public/private rsa key pair.</span>
<span style="color: #808080">Enter file in which to save the key (/home/john/.ssh/id_rsa):</span>
<span style="color: #808080">Enter passphrase (empty for no passphrase):</span>
            </pre>
            <span> Please refer to the following in-depth guides for more information:</span>
            <ul>
                <li> <a href="https://help.github.com/articles/generating-ssh-keys#platform-all">github</a> </li>
                <li> <a href="http://git-scm.com/book/en/Git-on-the-Server-Generating-Your-SSH-Public-Key">gitscm</a> </li>
            </ul>
        </div>

        <h3><a href='#'>Where do I find my ssh public key?</a></h3>
        <div>
          <p> Your ssh public key is typically located in one of the following locations:<p>
          <ul>
            <li> Linux/Unix: <tt>~/.ssh/id_rsa.pub</tt></li>
            <li> Windows: <tt>C:\Documents and Settings\$username\.ssh\id_rsa.pub</tt></li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>

  <script type='text/javascript' src='{{ url_for("static", filename="js/jquery-2.1.0.min.js") }}'></script>
  <script type='text/javascript' src='{{ url_for("static", filename="js/jquery-ui-1.10.4.min.js") }}'></script>
  <script type='text/javascript' src='{{ url_for("static", filename="js/code.js") }}'></script>
</body>

</html>
